<a href="https://colab.research.google.com/github/maeng-gun/python_basic/blob/main/grammer6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 객체와 클래스

### 1. 개념 이해하기

#### 1) 객체(Object)
* 프로그래밍 과정에서 우리가 생성하거나 외부에서 불러온 모든 대상은 '객체'
* 객체는 어떤 데이터(상태)와 그것을 활용하는 기능(동작)을 포괄하는 하나의 대상
* 객체는 두 가지의 결합
 * **속성(attribute)** : 객체의 상태를 나타내는 데이터
 * **메서드(method)** : 객체에 담긴 데이터를 활용하여 어떤 작업을 수행해 결과를 산출하는 함수

#### 2) 클래스(class)
* 객체를 만들어내는 틀이 클래스. 예컨대, 붕어빵 = 객체, 붕어빵틀 = 클래스
* 클래스는 객체가 어떤 속성과 메서드를 가질 수 있는지 그 형식(type)을 미리 정의한 것. 객체의 신분(class)!
* 같은 클래스에서 (동일한 형식을 갖는) 서로 다른 객체가 생성되는 것.
* 파이썬에서 생성된 모든 객체는 각각 특정한 클래스에 속한다!
 * 지금까지 배운 파이썬의 자료형(str, int, float, list, tuple. dictionary) 역시 클래스의 한 종류. 
 * 별도로 정의하지 않아도 기본적으로 제공되는 클래스를 '자료형'이라고 부른 것. 사실상 같은 의미.

#### 3) 붕어빵 만들기로 본 '객체와 클래스'
* 클래스 정의하기 : 빵틀의 제작!
 * 매개변수 정의 : 속재료 보관소 마련
 * 속성 정의 : 붕어 모양 틀 제작
 * 메서드 정의 : 붕어 개당 가격 정하기

* 객체의 생성 : 붕어빵 만들기!
 * 인수 부여 : 빵틀에 속재료로 팥과 슈크림을 넣어서 2가지 붕어빵 생성
 * 변수 할당 : 각각 다른 포장지에 담기!

* 객체의 활용 : 붕어빵을 판매하기!
 * 속성 호출 : 붕어 외관, 팥맛/슈크림맛 제공
 * 메서드 호출 : 판매를 통한 매출 증가

### 2. 판다스(pandas) 데이터프레임 클래스 예시

#### 1) 데이터프레임 객체 생성하기
* import pandas as pd : pandas 라이브러리(패키지)를 pd 라는 약칭으로 불러오기
* 두 개의 속재료 준비 : 3x3 행렬 형태의 data1, data2 
* pd.DataFrame 이라는 클래스(빵틀)에 넣기
* 넣은 재료에 대해 각각의 객체(빵)이 생성 -> df1, df2 변수에 할당

In [ ]:
import pandas as pd

data1 = {'종목' : ['카카오','삼성전자','현대차'],
         '주가' : [370000, 67700, 181000],
         '업종' : ['IT','전기전자','자동차']}

data2 = {'종류' : ['개','닭','벌'],
         '다리' : [4,2,6],
         '과목' : ['포유류','조류','곤충']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [ ]:
df1  # data1 재료로 구워진 빵

     종목      주가    업종
0   카카오  370000    IT
1  삼성전자   67700  전기전자
2   현대차  181000   자동차

In [ ]:
df2  # data1 재료로 구워진 빵

  종류  다리   과목
0  개   4  포유류
1  닭   2   조류
2  벌   6   곤충

#### 2) 데이터프레임 객체의 **속성**과 **메서드**에 호출하기
* 객체는 거칠게 말하자면 '변수와 함수의 결합체' 정도로 생각할 수 있음
* 객체의 **속성**이란 객체 내부에 담긴 변수로 다음과 같이 호출함
      객체명.변수명

In [ ]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
df1.columns

Index(['종목', '주가', '업종'], dtype='object')

In [ ]:
df2.columns

Index(['종류', '다리', '과목'], dtype='object')

In [ ]:
df1.T

         0      1       2
종목     카카오   삼성전자     현대차
주가  370000  67700  181000
업종      IT   전기전자     자동차

In [ ]:
df2['과목']

0    포유류
1     조류
2     곤충
Name: 과목, dtype: object

* 객체의 **메서드**란 객체 내부에 담긴 함수로 다음과 같이 호출함
      객체명.함수명(인수)

In [ ]:
df1.drop(2)

     종목      주가    업종
0   카카오  370000    IT
1  삼성전자   67700  전기전자

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종류      3 non-null      object
 1   다리      3 non-null      int64
 2   과목      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

### (참고) 라이브러리 내 변수/함수/클래스를 바로 불러오는 법

* 라이브러리(모듈 또는 패키지)를 먼저 불러온 후 변수/함수/클래스에 접근하려면 일일이 라이브러리명을 적어줘야 함
      (ex1)  import pandas as pd
             pd.DataFrame(data)

      (ex2)  import math
             math.pi
* 라이브러리 내 변수/함수/클래스를 작업중인 코드에 바로 불러와서 쓰려면 from~import 구문을 사용하면 됨
      from 라이브러리명 import 변수/함수/클래스명 (as 약칭)

In [ ]:
from math import pi
pi

3.141592653589793

In [ ]:
from pandas import DataFrame as DF

data = [ [1,2], [3,4] ]
DF(data)

   0  1
0  1  2
1  3  4