<a href="https://colab.research.google.com/github/maeng-gun/python_basic/blob/main/pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터프레임(DataFrame)의 자료구조와 생성

## 1. 데이터프레임의 특징
* 2차원(행과 열) 데이터를 표현하기 위한 자료형
* 하나의 데이터프레임은 하나의 엑셀시트와 동일한데, 각 행과 열의 명칭이 별도로 붙어있다는 것이 특징

## 2. 데이터프레임의 구조
### 1) 자료값(value) 
 * 행렬 형태의 2차원 자료의 내용물
 * 행(row) : 주로 자료의 각 단위(횡단면자료는 사람/기업/국가 등, 시계열자료는 시점/기간)로 구성
 * 열(column) : 주로 자료의 각 특성(이름,금액,횟수 등)으로 구성

### 2) 인덱스(index)
 * 각 행을 구분하는 명칭을 순서대로 나열한 객체로, 자료값의 좌측에 위치되
 * 인덱스를 별도로 지정하지 않으면 0,1,2,...로 이어지는 행번호를 자동 지정
 * 로우 레이블(row label)이라고도 함

### 3) 컬럼명(columns)
 * 각 열을 구분하는 명칭을 순서대로 나열한 객체로, 자료값의 상단에 위치함
 * 컬럼명을 별도로 지정하지 않으면 0,1,2,...로 이어지는 열번호를 자동 지정
 * 칼럼 레이블(column label)이라고도 함

  
### 예시

In [ ]:
import pandas as pd           # 라이브러리 불러오기

val = [['개',4,'멍멍'],       # 자료값을 변수(val)에 저장
       ['닭',2,'꼬꼬'],
       ['벌',6,'붕붕']]

df1 = pd.DataFrame(val)       # 데이터프레임 생성 후 변수(df1)에 저장
df1                           # 변수 df1 출력하기

   0  1   2
0  개  4  멍멍
1  닭  2  꼬꼬
2  벌  6  붕붕

In [ ]:
val2 = [[4,'멍멍'],            
       [2,'꼬꼬'],
       [6,'붕붕']]
id  = ['개','닭','벌']
col = ['다리수','울음소리']

df2 = pd.DataFrame(val2, index=id, columns=col)
df2

   다리수 울음소리
개    4   멍멍
닭    2   꼬꼬
벌    6   붕붕

## 3. 데이터프레임의 생성

### 1) 데이터를 직접 입력하는 경우

#### a. 행 단위로 자료값 입력 (리스트 of 리스트 활용)
* 앞선 예시 참조

#### b. 열 단위로 자료값 입력 (딕셔너리 활용)

In [ ]:
var3 = {'종류'     : ['개','닭','벌'],
        '다리수'   : [4,2,6],
        '울음소리' : ['멍멍','꼬꼬','붕붕']}

df3 = pd.DataFrame(var3)       # 데이터프레임 생성 후 변수(df1)에 저장
df3

  종류  다리수 울음소리
0  개    4   멍멍
1  닭    2   꼬꼬
2  벌    6   붕붕



### 2) 외부데이터를 불러오는 경우

#### a. 엑셀파일 불러오기

In [ ]:
df4 = pd.read_excel('https://maeng-gun.github.io/pandas/raw_data_1.xlsx', thousands=',')
df4

        지역본부   시군지부  사무소명   사무소코드  ... 농축협예수사무소코드      평가손익 매입신용등급 계속보유여부검토대상
0     강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  57020083    AA+        NaN
1     강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  18721556    AA+        NaN
2     강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  70641649    AA-        NaN
3     강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  14556643    AA-        NaN
4     강원지역본부  강릉시지부  강릉농협  333050  ...        NaN         0    AAA        NaN
...      ...    ...   ...     ...  ...        ...       ...    ...        ...
1670  충북지역본부  충주시지부  주덕농협  417059  ...        NaN         0      A        NaN
1671  충북지역본부  충주시지부  충주농협  417015  ...   421078.0         0    NaN        NaN
1672  충북지역본부  충주시지부  충주농협  417015  ...        NaN         0      A        NaN
1673  충북지역본부  충주시지부  충주농협  417015  ...        NaN         0   BBB+        NaN
1674  충북지역본부  충주시지부  충주농협  417015  ...        NaN         0     A-        NaN

[1675 rows x 31 columns]

#### b. CSV 파일 불러오기

In [ ]:
df5 = pd.read_csv('https://maeng-gun.github.io/pandas/raw_data_2.csv', thousands=',', compression='gzip')
df5

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        Unnamed: 0 지역본부    시군지부  ... 계속보유여부검토대상  매입수익률*장부금액        보유일자
0           568304   서울  서울지역본부  ...        NaN        32.5  2015-01-31
1           568305   서울  서울지역본부  ...        NaN        96.0  2015-01-31
2           568306   서울  서울지역본부  ...        NaN       105.6  2015-01-31
3           568307   서울  서울지역본부  ...        NaN       108.5  2015-01-31
4           568308   서울  서울지역본부  ...        NaN        93.0  2015-01-31
...            ...  ...     ...  ...        ...         ...         ...
229000      797304   제주   제주시지부  ...        NaN        82.5  2020-08-31
229001      797305   제주   제주시지부  ...        NaN        42.0  2020-08-31
229002      797306   제주  서귀포시지부  ...        NaN         0.0  2020-08-31
229003      797307   제주  서귀포시지부  ...        NaN         0.0  2020-08-31
229004      797308   제주  서귀포시지부  ...        NaN         0.0  2020-08-31

[229005 rows x 36 columns]

#### c. 클립보드에서 불러오기 (엑셀 복사 범위)
* 로컬 환경에서만 쓸 수 있고, 구글코랩에서는 에러 발생
* 활성화된 엑셀 시트에서 특정 범위를 직접 복사(Ctrl + C)한 뒤, 판다스 데이터프레임으로 변환하는 방식

In [ ]:
df6 = pd.read_clipboard(thousands=',')
df6

PyperclipException: ignored