<a href="https://colab.research.google.com/github/maeng-gun/python_basic/blob/main/pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 선택하기

### 1. 시리즈(Series)

* 데이터프레임과 함께 판다스의 대표 자료형 중 하나. 
* 1차원 배열의 자료값과 인덱스를 속성으로 가짐
* 데이터프레임에서 단일한 행 또는 열을 추출하면 시리즈 자료형이 됨
* 열 추출 시 : 데이터프레임의 인덱스가 추출된 시리즈의 인덱스가 됨
* 행 추출 시 : 데이터프레임의 컬럼명이 추출된 시리즈의 인덱스가 됨

In [ ]:
import pandas as pd

url = 'https://maeng-gun.github.io/pandas/raw_data_1.xlsx'
df = pd.read_excel(url, thousands=',')
df.head()

     지역본부   시군지부  사무소명   사무소코드  ... 농축협예수사무소코드      평가손익 매입신용등급 계속보유여부검토대상
0  강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  57020083    AA+        NaN
1  강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  18721556    AA+        NaN
2  강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  70641649    AA-        NaN
3  강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  14556643    AA-        NaN
4  강원지역본부  강릉시지부  강릉농협  333050  ...        NaN         0    AAA        NaN

[5 rows x 31 columns]


### 2. 열(column)

#### 1) 한개의 열 선택하기

* df['칼럼명']  : 컬럼의 이름이 문자로 지정된 경우 -> 시리즈 반환

In [ ]:
df['상품종류']

0           금융채
1           금융채
2           금융채
3           금융채
4       금융채(특금)
         ...
1670        회사채
1671     농축협예치금
1672        회사채
1673        회사채
1674        회사채
Name: 상품종류, Length: 1675, dtype: object

* df.칼럼명     : 위와 같으나, 띄어쓰기나 특수문자가 없어야 함

In [ ]:
df.발행일

0       2014-01-07
1       2013-06-24
2       2016-04-07
3       2019-06-24
4       2006-05-24
           ...
1670    2011-04-07
1671    2019-04-24
1672    2011-07-07
1673    2012-04-16
1674    2012-06-07
Name: 발행일, Length: 1675, dtype: object


#### 2) 여러개의 열 선택하기

* df[['칼럼명1','칼럼명1',...]]  : 여러개의 칼럼 이름을 리스트 형태로 입력 -> 데이터프레임 반환

In [ ]:
col = ['지역본부','사무소명','종목명','장부금액'] 
df2= df[col]  # 또는 df[['지역본부','사무소명','종목명','장부금액']]
df2.head(10)

     지역본부  사무소명                   종목명        장부금액
0  강원지역본부  강릉농협             현대캐피탈1474  2057414292
1  강원지역본부  강릉농협  국민은행3306이표일(3)07후-24  2019191187
2  강원지역본부  강릉농협              현대커머셜236  2076297044
3  강원지역본부  강릉농협            현대커머셜360-4  1590035132
4  강원지역본부  강릉농협               팬택관련 채권    27539302
5  강원지역본부  강릉농협             효성화학259-2  1020502500
6  강원지역본부  강릉농협            한화솔루션246-2  1523536859
7  강원지역본부  강릉농협            한화솔루션246-2  1523536859
8  강원지역본부  강릉농협             현대상선176-2   177961884
9  강원지역본부  강릉농협             현대상선176-2   177961885

###2. 행(row)


#### 1) 인덱스명으로 선택하기 : loc

* 인덱스 설정하기 : df.set_index('컬럼명')

In [ ]:
df3 = df2.set_index('종목명')
df3.head(10)

                        지역본부  사무소명        장부금액
종목명
현대캐피탈1474             강원지역본부  강릉농협  2057414292
국민은행3306이표일(3)07후-24  강원지역본부  강릉농협  2019191187
현대커머셜236              강원지역본부  강릉농협  2076297044
현대커머셜360-4            강원지역본부  강릉농협  1590035132
팬택관련 채권               강원지역본부  강릉농협    27539302
효성화학259-2             강원지역본부  강릉농협  1020502500
한화솔루션246-2            강원지역본부  강릉농협  1523536859
한화솔루션246-2            강원지역본부  강릉농협  1523536859
현대상선176-2             강원지역본부  강릉농협   177961884
현대상선176-2             강원지역본부  강릉농협   177961885

* 하나의 인덱스 선택하기 : df.loc['인덱스명']
 * (주의) 여러개의 행이나 열이 동일한 이름(레이블)을 가질 수 있음

In [ ]:
df3.loc['현대커머셜236']

            지역본부  사무소명        장부금액
종목명
현대커머셜236  강원지역본부  강릉농협  2076297044
현대커머셜236  강원지역본부  삼척농협  1038148522
현대커머셜236  충북지역본부  괴산농협   519074261

* 여러개의 인덱스 선택하기 : df.loc[['인덱스명1','인덱스명2',...]]

In [ ]:
id = ['현대캐피탈1474','한화솔루션246-2']
df4 = df3.loc[id]  # 또는 df3.loc[['현대캐피탈1474','한화솔루션246-2']]
df4

              지역본부    사무소명        장부금액
종목명
현대캐피탈1474   강원지역본부    강릉농협  2057414292
현대캐피탈1474   강원지역본부  강원양돈농협  1002545160
현대캐피탈1474   경남지역본부   삼천포농협  2006844199
현대캐피탈1474   경북지역본부   남영양농협  1028707146
현대캐피탈1474   경북지역본부    영양농협  1009181369
현대캐피탈1474   경북지역본부   서청도농협  1028707146
현대캐피탈1474   경북지역본부    청도농협  1002800290
현대캐피탈1474   전남지역본부    고흥농협   506197937
한화솔루션246-2  강원지역본부    강릉농협  1523536859
한화솔루션246-2  강원지역본부    강릉농협  1523536859
한화솔루션246-2  경기지역본부    송포농협  1015663240
한화솔루션246-2  충남지역본부    성환농협  1000884405
한화솔루션246-2  충북지역본부    금왕농협   710983868
한화솔루션246-2  충북지역본부    강내농협  1015691240

#### 2) 행 번호로 선택하기 : iloc

* 인덱스 초기화 하기 : df.reset_index()
 * 현재 지정된 인덱스를 컬럼으로 돌리고, 행 번호(정수)로 인덱스를 새롭게 지정

In [ ]:
df5 = df4.reset_index()
df5

           종목명    지역본부    사무소명        장부금액
0    현대캐피탈1474  강원지역본부    강릉농협  2057414292
1    현대캐피탈1474  강원지역본부  강원양돈농협  1002545160
2    현대캐피탈1474  경남지역본부   삼천포농협  2006844199
3    현대캐피탈1474  경북지역본부   남영양농협  1028707146
4    현대캐피탈1474  경북지역본부    영양농협  1009181369
5    현대캐피탈1474  경북지역본부   서청도농협  1028707146
6    현대캐피탈1474  경북지역본부    청도농협  1002800290
7    현대캐피탈1474  전남지역본부    고흥농협   506197937
8   한화솔루션246-2  강원지역본부    강릉농협  1523536859
9   한화솔루션246-2  강원지역본부    강릉농협  1523536859
10  한화솔루션246-2  경기지역본부    송포농협  1015663240
11  한화솔루션246-2  충남지역본부    성환농협  1000884405
12  한화솔루션246-2  충북지역본부    금왕농협   710983868
13  한화솔루션246-2  충북지역본부    강내농협  1015691240

* 특정 행 번호로 선택하기 : df.iloc[정수]   -> 시리즈 생성

In [ ]:
df5.iloc[1]

종목명      현대캐피탈1474
지역본부        강원지역본부
사무소명        강원양돈농협
장부금액    1002545160
Name: 1, dtype: object

* 행 구간으로 선택하기(슬라이싱) : df.iloc[시작:끝:간격]
 * 슬라이싱의 경우 끝번호는 구간에 미포함. 시작/끝/간격 번호 각각 생략 가능

In [ ]:
df5.iloc[2:6]  # 슬라이싱 예시1 [시작:끝]   (간격 생략)

         종목명    지역본부   사무소명        장부금액
2  현대캐피탈1474  경남지역본부  삼천포농협  2006844199
3  현대캐피탈1474  경북지역본부  남영양농협  1028707146
4  현대캐피탈1474  경북지역본부   영양농협  1009181369
5  현대캐피탈1474  경북지역본부  서청도농협  1028707146

In [ ]:
df5.iloc[:-10]  # 슬라이싱 예시 2 [:끝]   (시작,간격 생략)

         종목명    지역본부    사무소명        장부금액
0  현대캐피탈1474  강원지역본부    강릉농협  2057414292
1  현대캐피탈1474  강원지역본부  강원양돈농협  1002545160
2  현대캐피탈1474  경남지역본부   삼천포농협  2006844199
3  현대캐피탈1474  경북지역본부   남영양농협  1028707146

In [ ]:
df5.iloc[7::2]  # 슬라이싱 예시 3 [시작::간격]   (끝 생략)

           종목명    지역본부  사무소명        장부금액
7    현대캐피탈1474  전남지역본부  고흥농협   506197937
9   한화솔루션246-2  강원지역본부  강릉농협  1523536859
11  한화솔루션246-2  충남지역본부  성환농협  1000884405
13  한화솔루션246-2  충북지역본부  강내농협  1015691240

* 규칙성 없는 여러개의 행 번호로 선택하기 : df.iloc[[정수1,정수2,정수3,...]]

In [ ]:
id = [3,6,7,13]
df5.iloc[id]   # 또는 df.iloc[[3,6,7,13]]

           종목명    지역본부   사무소명        장부금액
3    현대캐피탈1474  경북지역본부  남영양농협  1028707146
6    현대캐피탈1474  경북지역본부   청도농협  1002800290
7    현대캐피탈1474  전남지역본부   고흥농협   506197937
13  한화솔루션246-2  충북지역본부   강내농협  1015691240

###4. 범위(Range)

#### 1) 행과 열 레이블로 선택하기 : df.loc[인덱스명 리스트, 컬럼명 리스트]

In [ ]:
df6 = df.set_index('사무소명')

id = ['서부농협','충주농협']
col = ['종목명','장부금액']

df6.loc[id,col]

                     종목명         장부금액
사무소명
서부농협             현대카드667  10080737257
서부농협            현대커머셜354  10294492235
서부농협      엔에이치농협캐피탈103-3  10123119077
서부농협            LG전자74-3   3289164832
서부농협            LG전자73-4   6632511001
충주농협  남제천농협 정기예치 (남제천농협)   2000000000
충주농협           현대상선177-2     87299763
충주농협            동부메탈10-1    144888240
충주농협            한진해운76-2            0

#### 2) 행과 열 번호로 선택하기 : df.iloc[행번호 리스트, 열번호 리스트]

In [ ]:
id = [100,200,300]
col = [2,6,20]

df.iloc[id,col]

      사무소명                 종목명        장부금액
100   원주농협            동부메탈10-1   579552960
200   송포농협            롯데캐피탈263  2118459131
300  신교하농협  KB밸류포커스30증권자투자신탁C형    94858468

###5. 스칼라(Scalar)

#### 1) 행과 열 레이블로 선택 : df.loc['인덱스명' , '컬럼명']

* 단, 하나의 행(열)이 하나의 인덱스명(컬럼명)을 갖는 경우에만 스칼라 값이 선택

In [ ]:
df7 = df.set_index('종목명')

df7.loc['현대커머셜364-5','장부금액']

961646594

####2) 행과 열 번호로 선택 : df.iloc[행번호, 열번호]

In [ ]:
df.iloc[200,6]

'롯데캐피탈263'