<a href="https://colab.research.google.com/github/maeng-gun/python_basic/blob/main/pandas_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## 데이터 필터링

### 1. 조건문과 불(bool) 자료형

#### 1) 조건문
* 참/거짓을 판단할 수 있는 문장을 조건문이라고 함
* 조건문을 만들어내는 연산자들의 종류는 크게 3가지가 있음
 * 비교 연산자 : 크다(>), 작다(<), 같다(==), 다르다(!=), 크거나같다(>=), 작거나같다(<=)
 * 논리 연산자 : 두개의 조건문이 주어질 때, 둘 다 참이면 참(and), 둘중 하나만 참이면 참(or), 반대(not)
 * 포함 연산자 : in, not in

### 2) 불(bool) 자료형
* bool : 참(True), 거짓(False) 두가지 종류의 값만 취할 수 있는 자료형
* 조건문을 그대로 실행하거나 특정 변수에 할당했을 때, 해당 조건의 판단 결과가 반환됨

In [ ]:
3 > 2     # 조건문을 실행

True

In [ ]:
a = (2 == 3)     # 조건문을 a 라는 변수에 할당 ( = 는 변수의 할당, == 는 '같다'를 의미하는 비교연산자임에 유의 )
a

False

In [ ]:
b = ((3+1) != (1+4))
b

True

In [ ]:
print(a and b)        # False and True => 둘다 참이 아니므로 거짓
print(a or b)         # False or True => 둘중 하나는 참이므로 참
print(not a)          # not False     => 거짓의 반대이므로 참

False
True
True

In [ ]:
c = 1
d = 2
e = [1,2,3,4]

print(c in e)        # 1은 [1,2,3,4]에 '포함되는 것'(in) 이므로 참
print(d not in e)    # 2는 [1,2,3,4]에 '포함되지 않는 것'(not in)이 아니므로 거짓

True
False

### 2.판다스 시리즈(Series)를 포함한 조건문의 활용

#### 1) 시리즈의 비교 연산
* 데이터프레임(DataFrame)의 한 행 또는 열을 추출하면 1차원 배열인 시리즈(Series)가 됨
* 시리즈에 비교연산자를 적용하면 각 원소에 대해 해당 조건을 판단해 참(True) 또는 거짓(False)이 부여되며, 최종적으로 불(bool) 자료형을 갖는 시리즈가 반환

In [ ]:
import pandas as pd

df = pd.read_excel('https://maeng-gun.github.io/pandas/raw_data_1.xlsx',thousands=',')
df.head(2)

     지역본부   시군지부  사무소명   사무소코드  ... 농축협예수사무소코드      평가손익 매입신용등급 계속보유여부검토대상
0  강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  57020083    AA+        NaN
1  강원지역본부  강릉시지부  강릉농협  333050  ...        NaN  18721556    AA+        NaN

[2 rows x 31 columns]

In [ ]:
cond1 = (df.장부금액 > 100000000)
cond1

0        True
1        True
2        True
3        True
4       False
        ...
1670     True
1671     True
1672    False
1673     True
1674    False
Name: 장부금액, Length: 1675, dtype: bool

In [ ]:
cond2 = (df.상품종류 == '회사채')
cond2

0       False
1       False
2       False
3       False
4       False
        ...
1670     True
1671    False
1672     True
1673     True
1674     True
Name: 상품종류, Length: 1675, dtype: bool

2) 다수의 시리즈 조건문에 대한 논리 연산
* 파이썬 기본문법에서의 논리연산자(and, or, not)는 시리즈에 대해서는 그대로 적용 불가능함
* 대신 &, |, ~ 를 사용해 논리연산을 수행
* & 와 | 의 경우 두 시리즈에서 같은 인덱스를 가진 원소들의 쌍에 대해 각각 논리연산을 수행해, bool자료형의 시리즈를 반환
* ~ 의 경우 각 원소별로 해당 조건문의 판단결과의 반대의 bool 값을 갖는 시리즈를 반환

In [ ]:
cond3 = (cond1 & cond2)
cond3

0       False
1       False
2       False
3       False
4       False
        ...
1670     True
1671    False
1672    False
1673     True
1674    False
Length: 1675, dtype: bool

In [ ]:
cond4 = (cond1 | cond2)
cond4

0        True
1        True
2        True
3        True
4       False
        ...
1670     True
1671     True
1672     True
1673     True
1674     True
Length: 1675, dtype: bool

In [ ]:
cond5 = ~cond4
cond5

0       False
1       False
2       False
3       False
4        True
        ...
1670    False
1671    False
1672    False
1673    False
1674    False
Length: 1675, dtype: bool

#### 3) 시리즈의 포함 연산
* 파이썬의 기본문법에서의 비교연산자는 시리즈에도 그대로 적용 가능하지만, 포함연산자(in, not in)는 적용불가
* 시리즈의 .isin() 메서드와 ~ 연산자를 적절히 사용

In [ ]:
cond6 = df.상품종류.isin(['회사채','금융채'])
cond6

0        True
1        True
2        True
3        True
4       False
        ...
1670     True
1671    False
1672     True
1673     True
1674     True
Name: 상품종류, Length: 1675, dtype: bool

In [ ]:
cond7 = ~df.상품종류.isin(['회사채','금융채'])
cond7

0       False
1       False
2       False
3       False
4        True
        ...
1670    False
1671     True
1672    False
1673    False
1674    False
Name: 상품종류, Length: 1675, dtype: bool

### 3. 불 인덱싱(bool indexing)을 통한 데이터 필터링

#### 1) 데이터프레임에서 조건에 맞는 행 추출하기
* 위에서 만들어본 '불 시리즈'들을 데이터프레임의 인덱싱(행 추출)에 활용하면 일종의 필터링이 됨
* df[조건문] 의 형태이며, 조건문에 사용되는 시리즈는 필터링를 적용할 데이터프레임과 동일한 인덱스를 가져야 한다
* 주로 df[df.칼럼명 활용 연용]  이런식으로 사용됨

In [ ]:
cond8 = (df.장부금액 > 10000000000)
df[cond8]

       지역본부    시군지부  사무소명   사무소코드  ... 농축협예수사무소코드       평가손익 매입신용등급 계속보유여부검토대상
916  대전지역본부  대전지역본부  서부농협  453048  ...        NaN   32889445    AA+       검토대상
917  대전지역본부  대전지역본부  서부농협  453048  ...        NaN  107349253    AA-        NaN
918  대전지역본부  대전지역본부  서부농협  453048  ...        NaN  116205995     A+        NaN
988  서울지역본부  서울지역본부  영동농협  100012  ...   233118.0          0    NaN        NaN

[4 rows x 31 columns]

In [ ]:
df[cond8 & (df.매입수익률 > 2.5)]

       지역본부    시군지부  사무소명   사무소코드  ... 농축협예수사무소코드       평가손익 매입신용등급 계속보유여부검토대상
917  대전지역본부  대전지역본부  서부농협  453048  ...        NaN  107349253    AA-        NaN
918  대전지역본부  대전지역본부  서부농협  453048  ...        NaN  116205995     A+        NaN

[2 rows x 31 columns]

####2) 조건에 맞는 행과 별도 지정한 열로 이뤄진 데이터프레임의 추출 : loc
* df.loc[조건문, [컬럼명1,컬럼명1,...]] 의 형태로 추출 가능

In [ ]:
cond9 = df.신용등급.isin(['AA','AA-'])
df.loc[cond8 & cond9, ['사무소명','상품종류','종목명','신용등급','장부금액']]

     사무소명 상품종류             종목명 신용등급         장부금액
916  서부농협  금융채         현대카드667   AA  10080737257
917  서부농협  금융채        현대커머셜354  AA-  10294492235
918  서부농협  금융채  엔에이치농협캐피탈103-3  AA-  10123119077